.slider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image {
  width: 100%;
  max-height: 100%;
  display: block;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 2s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1);
}

.slideshow {
  background-color: #eff7ff;
  height: 100%;
}

.helplink {
  display: inline;
  border-style: solid;
  border-radius: 5%;
}

.imgcontainer {
  display: inline-block;
  position: relative;
  width: 100%;
  max-height: 100%;
}

.positioning {
  position: absolute;
  right: 15px;
  bottom: 22px;
  background-color: rgb(197, 197, 197);
  color: black;
  padding: 4px;
  font-size: 17px;
  line-height: 18px;
  border-style: solid;
  border-color: #000;
}

.wordPositioning {
  position: absolute;
  left: 100px;
  top: 22px;
  color: #000;
  font-size: x-large;
}
