.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image {
  width: 1200px;
  height: 600px;
  border-radius: 10px;
}

.rightArrow {
  position: absolute;
  top: 40%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.leftArrow {
  position: absolute;
  top: 40%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide:active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
