.input {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  padding-bottom: 5%;
}

.inputlocation {
  width: 75%;
  float: left;
}

.side {
  width: 25%;
  float: left;
  height: 100vh;
  background-color: #fefaec;
  overflow: scroll;
}

.counsellor {
  border: solid 1.5px teal;
  border-radius: 1%;
  border-bottom: 0;
  padding: 10px;
  padding-bottom: 3px;
  height: 10rem;
  text-align: center;
}

.singlecounsellor {
  width: 5rem;
  height: 5rem;
}

.counsellordesc {
  text-align: center;
  padding-top: 0.8em;
  line-height: 2rem;
}

.name {
  font-weight: bolder;
  font-size: larger;
}

.nonbold {
  font-weight: normal;
}
