.form {
  position: relative;
  margin: auto;
  width: 50%;
  border: solid 0.5px black;
  padding: 20px 20px 20px 20px;
  padding-bottom: 5px;
  border-radius: 20px;
  top: 20%;
  background-color: white;
  min-height: 250px;
}

.formInput {
  text-align: center;
  margin: auto;
}
